/* Global styles */
:root {
    --bg-color: #1e2021;
    --bg-wrapper-color: #2b2d2f;
    --text-color: #ecf0f1;
    --disabled-bg-color: rgba(58, 61, 64, 0.3);
    --disabled-text-color: rgba(236, 240, 241, 0.5);
    --border-color: rgba(255, 255, 255, 0.2);
    --btn-bg-color: rgba(58, 61, 64, 0.5);
    --btn-bg-hover-color: rgba(74, 77, 81, 0.7);
    --btn-border-color: rgba(255, 255, 255, 0.2);
    --btn-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
    --btn-disabled-bg-color: rgba(58, 61, 64, 0.3);
    --btn-disabled-text-color: rgba(236, 240, 241, 0.5);
    --btn-hover-bg-color: rgba(74, 77, 81, 0.7);
    --btn-hover-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.2);
    --col-white: white;
    --page-error-bg: black;
    --page-error-border: 2px solid black;
    --license-text-color: rgb(111, 111, 111);
    --license-text-hover-color: white;
    --banner-bg-color: rgba(0, 0, 0, 0.2);
    --banner-filter: blur(1px) brightness(0.5);
}

html {
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Montserrat';
}

body {
    margin: 20px;
}

.button {
    background: var(--btn-bg-color);
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), var(--btn-bg-color));
    color: var(--text-color);
    border: 1px solid var(--btn-border-color);
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: var(--btn-box-shadow);
    backdrop-filter: blur(5px);
    transition: background 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.75rem;
    font-family: 'Montserrat';
    z-index: 1;
}

.button:disabled{
    background: var(--disabled-bg-color);
    color: var(--disabled-text-color);
    border: 1px solid rgba(255, 255, 255, 0.1);
    cursor: not-allowed;
    box-shadow: none;
}

.button:hover {
    background: var(--btn-hover-bg-color);
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), var(--btn-hover-bg-color));
    box-shadow: var(--btn-hover-box-shadow);
}

input {
    cursor: text !important;
}

a {
    text-decoration: none;
}

.license {
    color: var(--license-text-color);
    transition: color 0.3s;
}

.license:hover {
    color: var(--license-text-hover-color);
}

.logo {
    width: 40px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.title-container h1, .title-container span {
    color: white;
    font-size: 30px;
}


/* Chapters */

.chapter {
    border: 1px solid var(--bg-wrapper-color);
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.chapter-header {
    background-color: var(--bg-wrapper-color);
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.chapter-header:hover {
    background-color: #292a2b;
}

.chapter-description {
    font-style: italic;
    margin: 10px;
    color: white;
}

.chapter-description a {
    background: var(--btn-bg-color);
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), var(--btn-bg-color));
    color: var(--text-color);
    border: 1px solid var(--btn-border-color);
    border-radius: 15px;
    padding: 2px 5px;
    font-size: 12px;
    box-shadow: var(--btn-box-shadow);
    backdrop-filter: blur(5px);
    transition: background 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat';
}

.chapter-content {
    display: none;
    padding: 10px;
}

.thumbnails {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.thumbnail {
    position: relative;
    text-align: center;
    width: 100px;
    max-height: 135px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.thumbnail .page-number {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 0.9em;
    text-align: center;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.thumbnail:hover .page-number {
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px
}

/* Media */

@media only screen and (max-width: 800px) {
    .thumbnail .page-number {
        opacity: 1;
    }
}